<h1 class="header">Countries</h1> 

<mat-form-field class="search">
    <mat-label>Search</mat-label>
    <input id="filter-text-box" matInput type="text" (input)="onFilterTextBoxChanged()">
</mat-form-field>

<ag-grid-angular
   style="width: 100%; height: 700px;" 
   class="ag-theme-alpine"
   [columnDefs]="columnDefs"
   [defaultColDef]="defaultColDef"
   [rowData]="rowData$ | async"
   [rowSelection]="'multiple'"
   [animateRows]="true"
   (gridReady)="onGridReady($event)"
   (cellClicked)="onCellClicked($event)"
 ></ag-grid-angular>